<div class="container">
  <% @tasks.each_slice(4) do |row| %>
    <div class="card-deck text-center">
      <% row.each do |task| %>
        <div class="col-md-3">
          <div class="card h-100">
            <div class="card-header d-flex align-items-center h-100">
              <%= image_tag task.image, class: 'img-fluid' %>
            </div>
            <div class="d-flex flex-column card-body h-100">
              <h5> <%= link_to("#{task.title[0..20]} (#{task.users.count})", task_path(task)) %>  </h5>
              <% if task.users.include?(current_user) %>
                <%= link_to("NO Listo", undone_task_path(task), method: :delete, class: "btn btn-danger mt-auto") %>
              <% else %>  
                <%= link_to("Listo", done_task_path(task), method: :post, class: "btn btn-info mt-auto") %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="w-100" style="margin-top:20px"></div>
  <% end %>
</div>

